#body {
    background-color: lightyellow;
}

/* Set the table width to 40% of the viewport width */
table {
    width: 30%;
    border-collapse: collapse;
}

/* Set the table cells to have a specific aspect ratio */
td {
    width: 25%;
    padding-top: 25%;
    border: 3px solid black;
    text-align: center;
    position: relative;
}

td div {
    position: absolute; /* Position the content absolutely within the cell */
    top: 50%; /* Vertically center the content */
    left: 50%; /* Horizontally center the content */
    transform: translate(-50%, -50%); /* Center the content precisely */
}

/*https://youtu.be/t_GuuhNNcNQ?si=Linebh24vtKwOjfJ*/
dialog {
    width: 30%;
    height: 25vh;
    font-size: 20pt;
    align-content: center;
    text-align: center;
}

dialog::backdrop {
    background-color: gray;
    opacity: 0.5;
}

dialog button {
    width: 40%;
    height: 5vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

#startContainer {
    font-size: 25pt;
    display: flex;
}

#startContainer select{
    font-size: 20pt;
    margin-left: 2%;
    margin-right: 2%;
}

#startContainer button{
    font-size: 20pt;
    margin-left: 2%;
    margin-right: 2%;
}

#playerScoresContainer {
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 1%;
    width: 62.2%;
    display: flex;
    flex-direction: auto;
}

#gridAndWordContainer {
    margin-left: 5%;
    display: flex;
    flex-direction: auto;
}

#wordListContainer {
    background-color: lightgray;
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10%;
}

#currentWordContainer {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    background-color: lightcyan;
    width: 28.5%;
    height: 5vh;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 22pt;
    align-content: center;
}

#wordList {
    margin-left: 5%;
}

#submitButton {
    width: 5%;
    height: 5vh;
    margin-left: 15%;
}

.score {
    border: 2px solid black;
    border-radius: 10px;
    width: 35%;
    height: 5vh;
    font-size: 18pt;
    align-content: center;
    margin: 0.5%;
    margin-top: 2.5%;
}

.player1Score {
    background-color: lightgreen;
}

.player2Score {
    background-color: lightcoral;
}
